<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ERPerfect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loader.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DSM.ERPerfect.WebApp.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("StyleSheet", required: false)
    <!-- JS Frameworks -->
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/js/datatables.min.js" asp-append-version="false"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @RenderBody()

    <footer class="border-top footer text-muted bg-light">
        <div class="container">
            &copy; @DateTime.Now.Year - ERPerfect
        </div>
    </footer>

    <!-- Main loader -->
    <div class="container-loader d-none" id="main-loader">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1 class="text-secondary">Espere un momento...</h1>
    </div>


    <!-- Toast container -->
    <div id="generic-toast-container" class="toast-container position-fixed bottom-0 start-0 p-3">
    </div>


</body>
</html>
