@using DSM.ERPerfect.Models.VM.Home
@model ClienteVM

@{
    ViewData["Title"] = "Clientes";
}

@section Scripts{
    <script src="~/js/ajax/home.js" asp-append-version="true"></script>
}

<partial name="~/Views/Shared/_TopMenu.cshtml" for="@Model.CookieUsuario" />

<div class="container-fluid p-3">
    <div class="row text-center m-2 bg-light rounded-0 shadow">
        <div class="col-12" id="client-container">
            <div class="row">
                <partial name="~/Views/Home/Partials/_TablaClientes.cshtml" for="@Model" />
            </div>
        </div>
    </div>
</div>



