@using DSM.ERPerfect.Models.VM.Home
@model IndexVM

@{
    ViewData["Title"] = "Home";
}

<partial name="~/Views/Shared/_TopMenu.cshtml" for="@Model.CookieUsuario" />

<div class="container-fluid p-3">
    <div class="row text-center m-2 bg-light rounded-0 shadow">
        <div class="col-sm-12 col-md-2">
            <div class="row">
                <button class="btn btn-outline-secondary text-md-start border-0 rounded-0 col-4 col-sm-4 col-md-12">F. Pendientes</button>
                <button class="btn btn-outline-secondary text-md-start border-0 rounded-0 col-4 col-sm-4 col-md-12">F. Mensual</button>
                <button class="btn btn-outline-secondary text-md-start border-0 rounded-0 col-4 col-sm-4 col-md-12">Top 5 Servicios</button>
            </div>
        </div>
        <div class="col-sm-12 col-md-10" id="chart-container">
            <partial name="~/Views/Home/Partials/_ChartFacturacionMes.cshtml" for="@Model.PendingBillsStatistic" />
        </div>
    </div>
</div>

