@using DSM.ERPerfect.Models.VM.BackOffice
@model IndexVM

@{
    ViewData["Title"] = "BackOffice";
}

@section Scripts {
    <script src="~/js/ajax/backoffice.js" asp-append-version="true"></script>
}

<partial name="~/Views/Shared/_TopMenu.cshtml" for="@Model.CookieUsuario" />

<div class="container-fluid p-3">
    <div class="row text-center m-2 bg-light rounded-0 shadow">
        <div class="col-sm-12 col-md-2 bg-secondary">
            <div class="row">
                <button class="btn btn-secondary text-md-start border-0 rounded-0 col-4 col-sm-4 col-md-12" onclick="LoadTarifas(true)">Tarifas</button>
                <button class="btn btn-secondary text-md-start border-0 rounded-0 col-4 col-sm-4 col-md-12" onclick="LoadServicios(true)">Servicios</button>
                <button class="btn btn-secondary text-md-start border-0 rounded-0 col-4 col-sm-4 col-md-12" onclick="LoadUsuarios(true)">Usuarios</button>
            </div>
        </div>
        <div class="col-sm-12 col-md-10" id="backoffice-container">
            <partial name="~/Views/BackOffice/Partials/_TablaTarifas.cshtml" for="@Model.TarifaVM" />
        </div>
    </div>
</div>

